# --- R & RStudio specific ---
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp

# --- Quarto & Knitr Cache ---
*_files/
_freeze/
_cache/
/.quarto/

# --- Large Data & Results ---
data/
results/EGF/
results/SILAC_Proteome/
results/SILAC_Phos/
results/IFNG/
results/CRISPR/

# --- System files ---
.DS_Store
Thumbs.db